/* Help */

.body__help-image:hover {
  transform: scale(0.9);
}

.body__help-image:active {
  transform: translateY(0.1rem);
}

.screen-overlay {
  position: fixed;
  display: none;
  left:0;
  top:0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--colour-black-rgb), var(--alpha-med));
}

.bubble-moon {
  text-align: center;
  width: 340px;
  position: fixed;
  display: none;
  right: 100px;
  top: 15px;
  z-index: 11;
  box-shadow: inset -4px 1px 15px 0px #c0c0c0;
  border-radius: 10px;
  padding: 10px;
}

.bubble-satellite {
  text-align: center;
  width: 440px;
  position: fixed;
  display: none;
  left: 100px;
  top: 15px;
  z-index: 11;
  box-shadow: inset -4px 1px 15px 0px #c0c0c0;
  border-radius: 10px;
  padding: 10px;
}

#switch_for_help_container > div.form-group {
  margin-bottom: 0;
}

/* Saved table views ----------------------------------------------------------------------------*/

.saved-info {
  display: none;
  width: 80vw;
  position: fixed;
  left: 5vw;
  top: 5vh;
  z-index: 11;
  box-shadow: inset -4px 1px 15px 0px #c0c0c0;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
}

.used-tag {
  display: inline-block;
  padding: 3px 7px;
  border-radius: 6px;
  background-color: var(--colour-desat-blue);
  color: rgba(var(--colour-white-rgb), var(--alpha-med));
}

.saved-info-controls {
  padding: 20px 10px;
}


