/* Help */



.body__help-image:hover {
  transform: scale(0.9);
}

.body__help-image:active {
  transform: translateY(0.1rem);
}

.help__splash-background {
  position: fixed;
  display: none;
  left:0;
  top:0;
  z-index: 10;
  width: 100vw;
  height: 100vw;
  background-color: rgba(var(--colour-black-rgb), var(--alpha-med));
}

.help__splash-box {
  width: 540px;
  position: fixed;
  display: none;
  left: 50vw;
  top: 50vw;
  transform: translate(-50%, -50%);
  z-index: 11;
  box-shadow: 0px 0px 15px 0px #c0c0c0;
  border-radius: 10px;
}

.help__splash-title {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  margin-right: -3rem;
  letter-spacing: 3rem;
  background: -webkit-linear-gradient(
    var(--colour-white),
    var(--colour-text-gradient-bottom)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.help__splash-image {
  width: 540px;
}

