/* Launch screen */

  .header__text-box {
    background: transparent;
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.header-up {
  animation: raiseUp 3s;
  left: 50%;
  top: 6%;
  transform: translate(-50%, -50%) scale(0.5);
}

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  margin-right: -3rem;
  letter-spacing: 3rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  background: -webkit-linear-gradient(
    var(--colour-white),
    var(--colour-text-gradient-bottom)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading-primary--sub {
  color: var(--colour-desat-blue-lighter);
  display: block;
  font-size: 1.9rem;
  font-weight: 700;
  margin-right: -0.6rem;
  letter-spacing: 0.6rem;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.body__image {
  display: block;
  position: absolute;
  z-index: 10;
  background-color: transparent;
  animation: flyIn 5s;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%) scale(0.7) rotate(0deg);
}

.body__help-box {
  z-index: 9;
  position: absolute;
  background-color: transparent;
  right: 0;
  top: 0;
  opacity: 0;
}

.body__help-image {
  background-color: transparent;
  width: 110px;
  height: 100px;
  transform: scale(0.8);
  transition: all 0.8s;
}

.image-up {
  animation: flyUp 3s;
  animation-timing-function: cubic-bezier(0, 0, 0.5, 2, 5);
  left: 2%;
  top: 7%;
  transform: translate(-50%, -50%) scale(0.3) rotate(-70deg);
}

.body__btn-box {
  display: block;
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  animation: fadeIn 6s;
}

.launch-btn:link,
.launch-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--colour-text-gradient-bottom);
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem;
  transition: all 0.4s;
  color: rgba(var(--colour-white_rgb), var(--alpha-med))
}

.launch-btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(var(--colour-rocket-flame-red-rgb), 0.5);
  color: rgba(var(--colour-white_rgb), var(--alpha-high))
}
.launch-btn:hover::after {
  transition: all 0.4s;
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.launch-btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(var(--colour-rocket-flame-orange-rgb), 0.5);
}
