/* Constants */

:root {
  --main-bg-colour: black;
  --text-grad_colour: #38495a;
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flyIn {
    from {
        opacity:0;
        left: 0%;
        top: 60%;
        transform: translate(-50%, -50%) scale(0) rotate(40deg);
    }
    to {
        opacity:1;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%) scale(0.7) rotate(0deg);
    }
}

@keyframes raiseUp {
  from {
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
  }
  to {
    left: 50%;
    top: 6%;
    transform: translate(-50%, -50%) scale(0.5);
  }
}


@keyframes flyUp {
    from {
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%) scale(0.7) rotate(0deg);
    }
    to {
      left: 2%;
      top: 7%;
      transform: translate(-50%, -50%) scale(0.3) rotate(-70deg);
    }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.9;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 0.9;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* Styles */

 * {
   background-color: var(--main-bg-colour)
 }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", Arial, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.header__text-box {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-up {
  animation: raiseUp 3s;
  left: 50%;
  top: 6%;
  transform: translate(-50%, -50%) scale(0.5);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  margin-right: -3rem;
  letter-spacing: 3rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  background: -webkit-linear-gradient(white, var(--text-grad_colour));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading-primary--sub {
  color: var(--text-grad_colour);
  display: block;
  font-size: 1.9rem;
  font-weight: 700;
  margin-right: -0.6rem;
  letter-spacing: 0.6rem;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.body__image {
  display: block;
  position: absolute;
  z-index: 10;
  background-color: transparent;
  animation: flyIn 5s;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%) scale(0.7) rotate(0deg);
}

.body__help-box {
  z-index: 9;
  position: absolute;
  background-color: transparent;
  right:0;
  top:0;
  opacity: 0;
}

.body__help-image {
  width: 110px;
  height: 100px;
  transform: scale(0.8);
  transition: all 0.8s;
}

.image-up {
  animation: flyUp 3s;
  animation-timing-function: cubic-bezier(0,0,0.5,2,5);
  left: 2%;
  top: 7%;
  transform: translate(-50%, -50%) scale(0.3) rotate(-70deg);
}

.body__btn-box {
  display: block;
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  animation: fadeIn 6s;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--text-grad_colour);
  color: white;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem;
  transition: all 0.4s;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(70, 102, 255, 0.5);
}
.btn:hover::after {
  transition: all 0.4s;
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(70, 102, 255, 0.5);
}

.statistic_container {
  opacity: 0;
  top: 10%;
  display: inline-block;
  position: absolute;
  padding: 2.5vw;
  width: 95vw;
}

.fade-in {
  animation: fadeIn 3s;
  opacity: 1;
  color: white;
}

.selectize-input {
  background: transparent;
  border-color: var(--text-grad_colour);
}

