/* Constants */


/* Colour palette from https://nasa.github.io/nasawds-site/components/colors/ */
:root {
  --colour-primary: #105bd8;
  --colour-primary-darker: #0b3d91;
  --colour-primary-darkest: #061f4a;
  --colour-base: #212121;
  --colour-gray-dark: #323a45;
  --colour-gray-light: #aeb0b5;
  --colour-white: #ffffff;

  --colour-primary-alt: #02bfe7;
  --colour-primary-alt-darkest: #046b99;
  --colour-primary-alt-dark: #00a6d2;

  --colour-text-gradient-bottom: #38495A;
  --colour-text-sub: #475d72;
  --colour-rocket-flame-red: 141, 45, 5;
  --colour-rocket-flame-orange: 215, 120, 32;

  --colour-desat-blue: #38495A;
  --colour-desat-blue-lighter: #475d72;
  --colour-desat-blue-lightest: #56708a
  --colour-desat-blue-sater: 45,73,101;
  --colour-desat-blue-darker: #293542


}



/* Styles */

 * {
   background-color: var(--colour-base)
 }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", Arial, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.header__text-box {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-up {
  animation: raiseUp 3s;
  left: 50%;
  top: 6%;
  transform: translate(-50%, -50%) scale(0.5);
}

.heading-primary {
  color: var(--colour-white);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  margin-right: -3rem;
  letter-spacing: 3rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  background: -webkit-linear-gradient(var(--colour-white), var(--colour-text-gradient-bottom));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading-primary--sub {
  color: var(--colour-desat-blue-lighter);
  display: block;
  font-size: 1.9rem;
  font-weight: 700;
  margin-right: -0.6rem;
  letter-spacing: 0.6rem;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.body__image {
  display: block;
  position: absolute;
  z-index: 10;
  background-color: transparent;
  animation: flyIn 5s;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%) scale(0.7) rotate(0deg);
}

.body__help-box {
  z-index: 9;
  position: absolute;
  background-color: transparent;
  right:0;
  top:0;
  opacity: 0;
}

.body__help-image {
  width: 110px;
  height: 100px;
  transform: scale(0.8);
  transition: all 0.8s;
}

.image-up {
  animation: flyUp 3s;
  animation-timing-function: cubic-bezier(0,0,0.5,2,5);
  left: 2%;
  top: 7%;
  transform: translate(-50%, -50%) scale(0.3) rotate(-70deg);
}

.body__btn-box {
  display: block;
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  animation: fadeIn 6s;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--colour-text-gradient-bottom);
  color: white;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem;
  transition: all 0.4s;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(var(--colour-rocket-flame-red), 0.5);
}
.btn:hover::after {
  transition: all 0.4s;
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(var(--colour-rocket-flame-orange), 0.5);
}

.statistic_container {
  opacity: 0;
  top: 10%;
  display: inline-block;
  position: absolute;
  padding: 2.5vw;
  width: 95vw;
}

.fade-in {
  animation: fadeIn 3s;
  opacity: 1;
  color: white;
}

.selectize-input {
  background: transparent;
  border-color: var(--colour-gray-light);
}

/* Select box */
div.statistic__select-box {
  color: #888888;
}

/* Slider format */
div.statistic__select-box span.irs-single {
  background: transparent;
  color: #fffe46;
}

div.statistic__select-box span.irs-bar.irs-bar--single,
div.statistic__select-box span.irs-handle.single {
  background-color: #ffdf46;
}

div.statistic__select-box span.irs-line {
  background: transparent;
}

div.statistic__select-box span.irs-min,
div.statistic__select-box span.irs-max {
  color: #ccc;
}

div.statistic__select-box span.play > i,
div.statistic__select-box span.pause > i {
  color: white;
}

/* Select box - factor choices */
div.statistic__select-box div.selectize-input.items.not-full.has-options.has-items.ui-sortable > div {
  text-shadow: 0 1px 0 rgb(--colour-desat-blue-darker);
  border-radius: 6px;
  background-color: var(--colour-desat-blue);
  background-image: linear-gradient(to bottom, var(--colour-desat-blue-lighter) var(--colour-desat-blue-lightest));
  background-repeat: repeat-x;
  box-shadow: 0 1px 0 rgb(255 255 255 / 20%), inset 0 1px rgb(0 0 0 / 3%);
  color: var(--colour-white);
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

/* Select box - Button format */
#main-table_view button {
  background: transparent;
  color: darkgray;
}


/* Settings */

#main-statistic_table-settings_dropdown {
  background: transparent;
}

#sw-content-main-statistic_table-settings_dropdown,
#sw-content-main-statistic_table-settings_dropdown div
{
  background-color: var(--colour-base);
}
