/* Table Screen */

.main_container {
  opacity: 0;
  top: 10%;
  display: inline-block;
  position: absolute;
  padding: 2.5vw;
  width: 95vw;
}

.fade-in {
  animation: fadeIn 3s;
  opacity: 1;
}

.selectize-input {
  background: transparent;
  border-color: var(--colour-gray-light);
}

/* top_controls ---------------------------------------------------------------------------------*/

/* Table view radio group */
#main-table_view button {
  color: rgba(var(--color-white-rgb), var(--alpha-low));
}

#main-table_view button.btn.radiobtn.active {
  background-color: var(--colour-desat-blue);
  color: rgba(var(--color-white-rgb), var(--alpha-high));
  font-weight: bold;
}

/* Table controls toggle switch (Sun) */
.label-danger {
  background-color: var(--colour-sun);
  transition: all .2s ease-in-out;
}

.label-danger:hover {
  transform: scale(1.1);
}

/* Setting circles (planets) */
.setting-circle {
  transition: all .2s ease-in-out;
}

.setting-circle:hover {
  transform: scale(1.3);
}

/* More settings */
#main-more_settings-settings_dropdown {
  background: transparent;
}

#main-more_settings-settings_dropdown > div {
  transition: all .2s ease-in-out;
}

#main-more_settings-settings_dropdown > div:hover {
  color: rgba(var(--color-white-rgb), var(--alpha-high));
}

/* table_controls -------------------------------------------------------------------------------*/

/* Border around table controls */
div#main-table_controls_div {
  box-shadow: inset -1px -1px 5px 1px var(--colour-gray-darkmed);
  padding: 15px 0 10px 0;
  /* border: 1px solid #f5f5f5; */
  border-radius: 5px;
  margin-bottom: 10px;
}

div#main-table_controls_div .row {
  margin-left: 10px;
  margin-right: 10px;
}

/* Select box */

/* Multi selectize */
div#main-table_controls_div div.form-group label.control-label {
  opacity: var(--alpha-med);
}

div.selectize-control > div.selectize-input {
  border-color: var(--colour-selectize-border);
  box-shadow: inset -1px -1px 5px 0px var(--colour-inset-shadow);
}

/* Single selectize */
div.selectize-control > div.selectize-input.full {
  border-color: var(--colour-selectize-border);
  box-shadow: inset -1px -1px 5px 0px var(--colour-inset-shadow);
  background-color: transparent;
}

div.selectize-control > div.selectize-input.full.dropdown-active {
  border-color: var(--colour-selectize-border);
  box-shadow: inset -1px -1px 5px 0px var(--colour-inset-shadow);
  background-color: transparent;
}

/* Selectize items */
div.selectize-control > div.selectize-input > div.item {
  color: rgba(var(--colour-white-rgb), var(--alpha-med));
  border-radius: 6px;
  background-color: var(--colour-gray-dark);
  box-shadow: inset 1px 1px 3px 0px var(--colour-inset-shadow);
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

/* Active item */
div.selectize-control > div.selectize-input > div.item.active {
  color: rgba(var(--colour-white-rgb), var(--alpha-high));
  border-radius: 6px;
  background-color: var(--colour-gray-darkmed);
  box-shadow: inset 1px 1px 3px 0px var(--colour-inset-shadow);
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

/* Drop down options - header */
div.selectize-control > div.selectize-dropdown .optgroup .optgroup-header {
  color: rgba(var(--colour-white-rgb), var(--alpha-high));
  background-color: var(--colour-base);
}

/* Drop down options - active row */
div.selectize-control > div.selectize-dropdown .optgroup .option.active {
  color: rgba(var(--colour-white-rgb), var(--alpha-high));
  background-color: var(--colour-gray-dark);
}

div.selectize-dropdown-content > div.option:hover {
  color: rgba(var(--colour-white-rgb), var(--alpha-high));
  background-color: var(--colour-gray-dark);
}



/* Select box - Button format */
#main-table_view button {
  background: transparent;
}

/* Measure slider */
div.table_controls span.irs-single {
  background: transparent;
  color: rgba(var(--colour-white-rgb), var(--alpha-med));
}

div.table_controls span.irs-bar.irs-bar--single,
div.table_controls span.irs-handle.single {
  background-color: var(--colour-desat-blue);
  border: none;
}

div.table_controls span.irs-line {
  background: transparent;
  border: none;
}

div.table_controls span.irs-min,
div.table_controls span.irs-max {
  background: transparent;
  color: rgba(var(--colour-white-rgb), var(--alpha-low));
}

div.table_controls span.play > i,
div.table_controls span.pause > i {
  top: -55px;
  left: -5px;
}

.irs--shiny {
  padding-right: 10px;
}

#main-measure_slider_ui > div {
  margin-bottom: 0;
}

/* Don't pad rangle slider */
.irs i {
  padding-right: 0px;
}


/* Measure statistic */
div#main-measure_statistic .control-label {
  margin-bottom: 20px;
}



/* More settings */

.more_settings_button {
  color: rgba(var(--colour-white-rgb), var(--alpha-low));
  font-size: 14px;
}

#main-more_settings-settings_dropdown {
  padding: 0;
}

#main-main_table-settings_dropdown {
  background: transparent;
}

#sw-content-main-main_table-settings_dropdown,
#sw-content-main-main_table-settings_dropdown div {
  background-color: var(--colour-base);
}

.sw-dropdown-content, .sw-dropdown-in {
  background-color: var(--colour-base);
}

/* Filter icon */

#main-filters_applied_ui {
  color: var(--colour-rocket-flame-orange);
}

/* Table styling --------------------------------------------------------------------------------*/

div.rt-thead.-headerGroups div {
  color: rgba(var(--colour-white-rgb), var(--alpha-low));
  font-style: italic;
  font-size: small;
}

.ReactTable {
  background-color: transparent;
  color: inherit;
}

.rt-search {
  background-color: transparent;
  border-color: var(--colour-selectize-border);
  box-shadow: inset -1px -1px 5px 0px var(--colour-inset-shadow);
  color: rgba(var(--colour-white-rgb), var(--alpha-high));
}

.measure-statistic-subheader {
  font-style: italic;
  font-size: smaller;
  color: rgba(var(--colour-white-rgb), var(--alpha-low));
}


/* Table cells */
#main-main_rt .rt-td > div > div {
  background-color: transparent;
  color: inherit;
}

#main-main_rt .rt-td > div {
  color: inherit;
}

#main-main_rt .rt-td {
  background-color: transparent;
  border-top: 1px solid #333333;
}

#main-main_rt .rt-td:hover {
  color: rgba(var(--colour-white-rgb), var(--alpha-high));
}

/* Page size options */
.rt-page-jump, .rt-page-size-select {
  background: transparent;
}

/* Footer ---------------------------------------------------------------------------------------*/

.footer {
  position: absolute;
  bottom: 0;
  margin-top: 10px;
  height: 20px;
  width: 100%;
  text-align: center;
}

.footer__text-box i {
  margin-left: 5px;
  font-size: smaller;
  color: rgba(var(--colour-white-rgb), var(--alpha-low));
}

.footer__text-box i:hover {
  color: rgba(var(--colour-white-rgb), var(--alpha-high));
}


.footer__text-box > div {
  color: rgba(var(--colour-white-rgb), var(--alpha-low));
}

.footer__text-box > div:hover {
  color: rgba(var(--colour-white-rgb), var(--alpha-high));
}

/* Table tool tips */
/* based on http://jsfiddle.net/AndreaLigios/jtLbpy62/2281/ */

[data-tooltip]:before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    z-index: 11;

    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: rgba(var(--colour-white-rgb), var(--alpha-med));
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;
    white-space: pre-wrap;
    line-height: 150%;
}

[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    position: absolute;
    z-index: 11;

    /* customizable */
    background: var(--colour-desat-blue);
    margin-top: 20px;
    margin-left: 10px;
    min-width: 200px;
    max-width: 500px;
    box-shadow: inset -4px 1px 15px 0px #c0c0c0;
    border-radius: 10px;
    padding: 15px;

}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}

div.-cursor-pointer.rt-th {
  overflow: visible;
}

.ReactTable .rt-table {
  overflow: hidden;
}

